body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 140px;
    padding: 0;
    width: 280px;
}

h4 {
    text-align: center;
    padding: 11px;
}

p {
    font-size: 12px;
    padding-left: 6px;
}

#button {
    text-align: center;
}